
body {
	font-size: 2.5em;
	font-family: 'Titillium Web', sans-serif;
	background-color: #f69320;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

h1 {
	color: #FFF;
	font-size: 2.2em;
	text-shadow: 2px 2px 0.2em rgba(0,0,0,0.2);
	padding: 1vh 1vh;
	font-weight: 600;
	text-align: center;
	overflow: hidden;
}

h2 {
	color: #FFF;
	font-size: 2.2em;
	text-shadow: 2px 2px 0.2em rgba(0,0,0,0.2);
	padding: 0vh 1vh;
	font-weight: 600;
	text-align: center;
	overflow: hidden;
}

p {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	padding: 0vh 5vh;
	color: #FFF;
}

.callToActionWrapper {
	text-align: center;
	margin-top: 6vh;
}

.callToActionWrapper button {
	background-color: #FFF;
	color: #f69320;
	border: 0;
	font-size: 1.6em;
	font-weight: 600;
	padding: 0.5em 1em;
	border-radius: 5%;
	letter-spacing: 2px;
	box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
}
