
.tabNav {
	margin-bottom: 20px;
}

.tabNav > div {
	padding: 20px 20px 8px 20px;
	display: inline-block;
	text-align: center;
}

.tabNav > div:hover {
	background-color: #F9F9F9;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
	cursor: pointer;
}

.tabNav div > a {
	display: block;
	color: #0b75c1;
	font-weight: 500;
	letter-spacing: 1px;
}

.tabNav div > a > img {
	height: 26px;
	width: auto;
}

.tabNav .bottomBar {
	background-color: #0b75c1;
	width: 80px;
	font-size: 0;
	height: 2px;
	border-radius: 6px;
	display: block;
	margin: 5px auto;
}

.tabNav .bottomBarEmpty {
	background-color: #FFF;
	opacity: 0;
	width: 80px;
	font-size: 0;
	height: 2px;
	border-radius: 6px;
	display: block;
	margin: 5px auto;
}

.tabContent {
}
